/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-main: #181818;
  --background-secondary: #242424;
  --text-main: #EAEAEA;
  --text-secondary: #B0B0B0;
  --highlight: #FFC107;
  --border-color: #333333;
  
  --font-family-titles: 'Dosis', sans-serif;
  --font-family-text: 'Red Hat Display', sans-serif;
  --font-weight-title1: 800;
  --font-weight-title2: 700;
  --font-weight-text1: 400;
  --font-weight-text2: 500;
  --purple-light-2: #EEEAF2;
  --purple-dark-1: #3E0F64;
}

html {
  background-color: var(--background-main);
}

body {
  background-color: var(--background-secondary);
  color: var(--text-main);
  font-family: var(--font-family-text);
  font-weight: var(--font-weight-text1);
  font-size: 16px;
  margin: 4px 0 0 0;
  padding: 0;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-size: 24px;
  color: var(--highlight);
  font-family: var(--font-family-titles);
  font-weight: var(--font-weight-title1);
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 18px;
  color: var(--text-secondary);
  font-weight: var(--font-weight-title2);
}

h3 {
  color: var(--text-main);
  font-weight: var(--font-weight-text2);
  font-size: 16px;
}

input {
  background-color: var(--border-color);
  color: var(--text-main);
  border: none;
  font-size: 18px;
  padding-left: 16px;
}

input::placeholder {
  color: var(--text-secondary);
  font-family: var(--font-family-text);
}

button {
  background-color: var(--highlight);
  border: none;
  color: var(--background-secondary);
  font-weight: var(--font-weight-text2);
  font-size: 14px;
  cursor: pointer;
}



/* Shared */
.header-container, .trendingPreview-header, .categoriesPreview-container, .liked-header {
    padding: 0 24px;
  }
  
  .trendingPreview-container, .categoriesPreview-container, .liked-container, footer {
    margin-top: 48px;
  }
  
  .trendingPreview-header, .categoriesPreview-title, .liked-header {
    margin-bottom: 24px;
  }
  
  .movie-container {
    cursor: pointer;
    position: relative;
  }

  .movie-container--loading{
    background: var(--purple-light-2);
    border-radius: 8px;
    height: 450px;
    min-height: 450px;
    max-height: 450px;
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    margin-bottom: 15px;
    animation: loading-skeleton infinite 1.5s;
  }

  .movie-container--loading:nth-child(2){
    animation-delay: .2s;
  }

  .movie-container--loading:nth-child(3){
    animation-delay: .4s;
  }

.movie-container span{
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 10%;
  text-align: center;
  color: var(--background-secondary);
  font-size: 20px;
}
  
  .movie-img {
    border-radius: 8px;
  }

  .movie-btn{
    position: absolute;
    top: 5px;
    right: 10px;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    padding: 0;
    margin: 0;
  }

  .movie-btn::before{
    content:  '🤍';
  }

  .movie-btn--liked{
    background-color: var(--purple-light-2);
    box-shadow: 0px 0px 10px 2px var(--background-secondary);
  }

  .movie-btn--liked::before{
    content: '❤️';
  }
  
  .categoriesPreview-list, .categories-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    flex-wrap: wrap;
    margin-top: 10px;
  }

  .category-container {
    background-color: rgba(255, 255, 255, 0.1); /* Color de fondo sutil */
    border-radius: 20px; /* Bordes redondeados */
    padding: 5px 15px; /* Espacio alrededor del texto */
    transition: all 0.3s ease; /* Transición suave para los efectos */
    cursor: pointer; /* Indicar que es clicable */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  }
  
  .category-container:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Efecto hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra más profunda en hover */
  }
  
  .category-title .trendingPreview-title {
    margin: 0;
    color: #fff; /* Color blanco para el texto */
  }

  .category-container--loading{
    background: var(--purple-light-2);
    border-radius: 8px;
    height: 30px;
    min-height: 30px;
    max-height: 30px;
    width: 80px;
    min-width: 80px;
    max-width: 80px;
    margin-bottom: 15px;
    animation: loading-skeleton infinite 1.5s;
  }

  .category-container--loading:nth-child(2){
    animation-delay: .2s;
  }
  
  /* Header */
  .header-container {
    padding-top: 40px;
    background-color: var(--background-main);
  }

 /*  .header-container--long {
    background-image: url('https://pics.filmaffinity.com/Deadpool-777527803-large.jpg');
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 19.27%, rgba(0, 0, 0, 0) 29.17%), url(https://pics.filmaffinity.com/Deadpool-777527803-large.jpg);
    background-size: cover !important;
    width: 150px;
    height: 150px;
    position: fixed;
    top: 0;
  } */
  
  .header-container--categoryView {
    background: linear-gradient(180deg, rgba(238, 204, 117, 0.5) 0%, rgba(238, 204, 117, 0) 72.92%);
  }
  
  .header-title, .header-title--categoryView {
    color: var(--text-main);
  }
  
  .header-arrow {
    color: var(--text-secondary);
    cursor: pointer;
  }
  
  .header-searchForm {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgba(255, 255, 255, 0.05); /* Fondo sutilmente más claro que el fondo de la página */
    border-radius: 20px; /* Bordes redondeados */
    padding: 4px; /* Espacio interno */
    display: flex; /* Para acomodar el input y el botón juntos */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra sutil */
  }
  
  .header-searchForm input {
    background-color: transparent; /* Sin fondo para que tome el fondo del formulario */
    border: none; /* Sin bordes */
    color: #fff; /* Color blanco para el texto */
    flex-grow: 1; /* Para que ocupe todo el espacio disponible */
    border-radius: 20px 0 0 20px; /* Redondear solo las esquinas izquierdas */
    padding: 5px 10px; /* Espacio alrededor del texto */
    outline: none; /* Sin contorno al enfocar */
  }
  
  .header-searchForm button {
    background-color: rgba(255, 255, 255, 0.1); /* Un tono más claro que el fondo del formulario */
    border: none; /* Sin bordes */
    color: #fff; /* Color blanco para el ícono */
    border-radius: 0 20px 20px 0; /* Redondear solo las esquinas derechas */
    padding: 5px 15px; /* Espacio alrededor del ícono */
    cursor: pointer; /* Indicar que es clicable */
    transition: all 0.3s ease; /* Transición suave para el efecto hover */
    outline: none; /* Sin contorno al enfocar */
  }
  
  .header-searchForm button:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Efecto hover */
  }
  
  
  /* Trending */
  .trendingPreview-btn {
    margin-top: 5px;
    background-color: var(--highlight);
    color: var(--background-secondary);
    border: none; /* Eliminar cualquier borde por defecto */
    padding: 10px 20px; /* Espacio interior del botón */
    border-radius: 8px; /* Bordes redondeados */
    cursor: pointer; /* Indica que es clickeable */
    transition: background-color 0.3s ease; /* Transición suave al cambiar de color */
}

.trendingPreview-btn:hover {
    background-color: var(--background-secondary);
    color: var(--highlight);
}
  
  /* Categories */
  .category-title {
    color: var(--text-main);
  }
  
  /* Generic List */
  .genericList-container .movie-img {
    border: 1px solid var(--border-color);
  }

  .genericList-container{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual tamaño */
    gap: 16px; /* Espacio entre los elementos */
    padding: 0 24px;
    margin-top: 25px;
  }

  .genericList-container .movie-container .movie-img, .movie-container,.movie-img{
    height: 452px;
    min-height: 452px;
    max-height: 452px;
    width: 302px;
    min-width: 302px;
    max-width: 302px;
}

/* .liked-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
} */

  .genericList-container .movie-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  #genericList button{
    width: 30px;
    height: 30px;
    margin: auto;
    border: none;
    
  }
  
  #genericList button:hover {
    background-color: rgb(243, 166, 166); /* Efecto hover */
  }
  
  .movie-item {
    flex: 1; /* Los elementos ocupan todo el espacio disponible en la fila */
    margin: 0 8px 16px 8px; /* Margen en los lados y abajo de cada elemento */
  }
  
  .movie-item img {
    max-width: 100%; /* Asegura que las imágenes se ajusten al ancho del contenedor */
    height: auto;
  }
    
  /* Movie Detail */
  .movieDetail-container {
    display: grid;
    place-items: center;
    background-color: var(--background-secondary);
    margin-bottom: 0;
    width: 100%;
    box-sizing: border-box;
  }
  
  .movieDetail-title, .movieDetail-score {
    color: var(--text-main);
  }
  
  .movieDetail-description {
    color: var(--text-secondary);
    word-wrap: break-word; /* Asegura que las palabras muy largas se rompan y pasen a la siguiente línea */
    overflow-wrap: break-word; /* Similar a word-wrap, pero más moderno */
    width: 90%; /* Asegura que el párrafo ocupa todo el ancho disponible */
    box-sizing: border-box; /* Asegura que el padding y el borde no se sumen al ancho total */
    display: flex;
    flex-wrap: wrap;
    place-content: center;
  }

  .relatedMovies-container .relatedMovies-scrollContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10px;
  }

  .relatedMovies-title{
    display: flex;
    place-content: center;
    margin: 15px 0;
  }
  
  /* Footer */
  footer {
    background-color: var(--background-main);
    color: var(--text-main);
  }

  footer div{
    display: flex;
    justify-content: center;
  }

  footer img{
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  
  /* Navigation */
  .inactive {
    display: none;
  }
  
/* Header Centrado */
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Tendencias en Columnas de 3 */
/* Estilo general del contenedor del carrusel */
.trendingPreview-movieList, .liked-container .liked-movieList{
  display: flex;               /* Alineación horizontal de las películas */
  overflow-x: scroll;          /* Desplazamiento horizontal */
  scroll-snap-type: x mandatory; /* Efecto de "snap" al desplazarse */
  padding: 0 24px;             /* Padding alrededor */
  width: 90%;                /* solo el 90% del ancho disponible */
  scrollbar-width: thin;      /* Hace que la barra de desplazamiento sea delgada */
  margin: 0 auto;
}

/* Estilo de cada película dentro del carrusel */
.trendingPreview-movieList .movie-container, .liked-movieList .movie-container {
  flex: 0 0 300px;            /* Establece un ancho fijo para cada película y evita que crezcan o se encojan */
  margin: 8px;                /* Margen alrededor de cada película */
  scroll-snap-align: start;   /* Efecto "snap" al desplazarse */
}

/* Estilo para la barra de desplazamiento en navegadores basados en Webkit (Chrome, Safari) */
.trendingPreview-movieList::-webkit-scrollbar, .liked-movieList::-webkit-scrollbar {
  width: 10px;
}

.trendingPreview-movieList::-webkit-scrollbar-track, .liked-movieList::-webkit-scrollbar-track {
  background-color: #2a2a2a; /* Color de fondo del track */
}

.trendingPreview-movieList::-webkit-scrollbar-thumb,.liked-movieList::-webkit-scrollbar-thumb {
  background-color: #444; /* Color de la barra de desplazamiento */
  border-radius: 5px; /* Bordes redondeados */
}

.trendingPreview-movieList::-webkit-scrollbar-thumb:hover, .liked-movieList.liked-movieList::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color de la barra de desplazamiento al pasar el cursor sobre ella */
}
.trendingPreview-movieList, .liked-movieList {
  scroll-snap-type: none;
}

  /* Estilo para pantallas pequeñas (mobile) */
@media only screen and (max-width: 768px) { /* Se activa para pantallas menores o iguales a 768px de ancho */
  .header-container {
    flex-direction: column; /* Los elementos se apilan verticalmente */
    padding: 10px 20px; 
  }

  .header-title {
    margin-bottom: 10px; 
    text-align: center;
  }

  .header-searchForm {
    width: 100%; 
  }

  .header-searchForm input {
    flex-grow: 1; 
  }
}

@media (max-width: 768px) {
  .genericList-container {
    grid-template-columns: repeat(1, 1fr); /* Cambiar a 2 columnas en pantallas más pequeñas */
  }
}

@media (max-width:768px) {
  .relatedMovies-container .relatedMovies-scrollContainer{
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width:600px){
  .movieDetail-description{
    padding: 0 20px;
  }
}

/*Animations*/

@keyframes loading-skeleton{
  0%, 100%{
    opacity: 100%;
  }
  50%{
    opacity: 0%;
  }
}










  
  